[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
brotli = "==1.1.0"
certifi = "==2024.12.14"
cffi = "==1.17.1"
charset-normalizer = "==3.4.1"
cryptography = "==44.0.0"
idna = "==3.10"
inflate64 = "==1.0.1"
multivolumefile = "==0.2.3"
py7zr = "==0.22.0"
pybcj = "==1.0.3"
pycparser = "==2.22"
pycryptodomex = "==3.21.0"
pyppmd = "==1.1.1"
pyside6 = "==6.8.1"
pyside6-addons = "==6.8.1"
pyside6-essentials = "==6.8.1"
pyzstd = "==0.16.2"
requests = "==2.32.3"
shiboken6 = "==6.8.1"
texttable = "==1.7.0"
tk = "==0.1.0"
urllib3 = "==2.3.0"
menubar = "*"

[dev-packages]

[requires]
python_version = "3.12"
